
.bg-image {
  background-image: url('https://static.doofinder.com/main-files/uploads/2020/05/Ideas-crear-tienda-online.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
